<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webscraper</title>
        <style>
            * {
                box-sizing: border-box;
            }
            body {
                font-family : 'Courier New', Courier, monospace;
                background-color: powderblue;
                text-align: center;
                padding: 0;
                margin: 0;
            }
            .centeredTable {
                margin-left: auto;
                margin-right: auto;
            }
            footer {
                background-color: rgb(185, 184, 98);
                color:rgb(124, 118, 10);
                padding-top: 50px;
                width: 100%;
                bottom: 0;
                position: fixed;
            }
            .braggingRights {
                margin-left: 0;
                margin-bottom: 0;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h2>Webscraper</h2>
        <p>Scrape the web and create a dictionary of the popular words!</p>
        <label for="user_input">Enter website url : </label>
        <input type="text" name="user_input" id="user_input" onfocus="this.value=''">
        <button id="send1">Go!</button>
        <br>
        <table id="table1" class="centeredTable">
            <thead>
                <tr>
                    <label for="options">Choose the Number of Words to Dsiplay:</label>

                    <select name="options" id="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <button id="send2" style="margin-left:2%">Submit</button>
                </tr>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody id="tbody1">
            </tbody>
        </table>
        <footer>
            <p class="braggingRights">Created by a brilliant child</p>
        </footer>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>