<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- Run this code on server and output it on the page -->
        <p>Scrape the web and create a dictionary of the popular words!</p>
        <label for="user_input">Enter website url : </label>
        <input type="text" name="user_input" id="user_input" value="www.website.com">
        <button id="send1">Go!</button>
        <p id="paragraph"></p>
        <script src="Javascript.js"></script>
    </body>
</html>