<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>Scrape the web and create a dictionary of the popular words!</p>
        <label for="user_input">Enter website url : </label>
        <input type="text" name="user_input" id="user_input" value="www.website.com">
        <button id="send1">Go!</button>
        <table>
            <thead>
                <tr>
                    <th colspan=2>Top 5 Used Words in Website</th>
                </tr>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <script src="script.js"></script>
    </body>
</html>